<main class="px-4 py-12 sm:px-6 lg:px-8">
  <div class={["mx-auto space-y-4", assigns[:container_class] || "max-w-5xl"]}>
    {render_slot(@inner_block)}
  </div>
</main>

<.flash_group flash={@flash} />
